body {
	margin: 0;
}

.red{
  background-color: red
}

.top-third-spacer{
  height: 39%;
  text-align: center;
}

.name-text{
  padding-top: 12%;
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
}

.break-line-container{
  width: 70%;
}

.break-line{
  width:50%;
  text-align:center;
  text-indent:0;
}

.tagline-container{
  margin: 3rem 0;
  text-align: center;
}

.tagline{
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
}

.project-container-parent{
  width: 70%;
  margin-left: 15%; /* (100-70)/2 */
  margin-top: 8%;
}

.project-container{
  display: inline-block;
  width: 33%;
  height:15%;
}

.project-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  padding-top: 5%;
}

.projectSection-container{
  background-color: black;
  height: 75vh;
  text-align: center;
  position: relative;
}

.project-headertext{
  padding-top: 5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 350%;
  color: white;
}

.slanted-container {
	height: 6rem;
}

.slanted-container--top {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
		  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

.slanted-container--bottom {

  -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 0 100%);
		  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

.lower-margin-top{
  margin-top: -3.5rem;
}

.white {
	background: white;
}

.black {
	background: black;
}

.project-container-big{
  height: 35%;
  display: inline-block;
  width: 33%;
}

.project-container-largest{
  height: 45%;
  display: inline-block;
  width: 33%;
}

.content-logo{
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.project-label{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 150%;
}

.aboutMeSection{
  height: 70%;
  text-align: center;
  background-color: white;
}

.aboutMeHeaderText{
  padding-top: 3%;
  font-family: 'Raleway', sans-serif;
  font-size: 350%;
  color: black;
}

.aboutMeParagraphContainer{
  padding-top: 1%;
}

.aboutMeParagraphText{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 170%;
}

.content-button{
  display: inline-block;
  height: 55%;
  width: 100%;
  /*background-color: red;*/
}

.content-button-higher{
  height: 60%;
}

.content-subtext{
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  color: white;
  text-decoration: none;
}

.content-subtext:hover{
  text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
